@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #dbdbdb;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  padding: 3rem 2rem;
  border-radius: 2rem 2rem 4rem 2rem;
  max-width: 40rem;
}

.dobinput_box {
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 5rem;
  position: relative;
  transition: all 0.3s ease;
}

.dobinput_form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.dobinput_form {
  margin-bottom: 5rem;
}

.dobinput_form input {
  color: #141414;
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;
  border: none;
  border: 1px solid #716f6f;
  border-radius: 5px;
  padding: 1.5rem 3rem;
  margin: 4px 0;
}

.dobinput_form input::placeholder {
  color: #716f6f;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.dobinput_form input:focus {
  cursor: pointer;
  outline: none;
}

.dobinput_form .date {
  color: #716f6f;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.dobinput_form .error_msg {
  color: #ff5757;
  font-size: 9px;
  font-weight: 500;
}

.dobinput_box button img {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: cover;
}

.dobinput_box button {
  font-weight: 700;
  background-color: #854dff;
  border: none;
  padding: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%);
}

.dobinput_box button:hover {
  cursor: pointer;
  background-color: #141414;
}

.age_box p {
  color: #141414;
  font-size: 4rem;
  font-weight: 700;
  font-style: italic;
}

.age_box span {
  color: #854dff;
}

/* media query */
@media screen and (min-width: 640px) {
  .container {
    border-radius: 2rem 2rem 6rem 2rem;
    max-width: 50rem;
  }

  .dobinput_box button {
    left: 100%;
    transform: translate(-100%);
  }
}
